[client]
port = 3306
socket = /var/lib/mysql/mysql.sock

[mysqld]
port = 3306
socket = /var/lib/mysql/mysql.sock

# MyISAM #
key-buffer-size = 32M
myisam-recover = FORCE,BACKUP
lower_case_table_names = 1

max_allowed_packet = 64M
max-connect-errors = 1000000
skip-name-resolve
skip-external-locking
max_connections = 150

tmp-table-size = 32M
max-heap-table-size = 32M
table_cache = 1024
thread_cache_size = 8
query_cache_size = 64M
query_cache_limit = 1M

innodb_buffer_pool_size = 512M
innodb-flush-method = O_DIRECT
innodb_flush_log_at_trx_commit = 2
innodb_log_file_size = 128M
innodb_log_buffer_size = 8M
innodb_lock_wait_timeout = 60

log-error = /var/log/mysql-error.log
slow-query-log = 1
long_query_time = 4
slow-query-log-file = /var/log/mysql-slow.log
